.App {
  text-align: center;
  background: rgb(20, 21, 38);
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(20, 21, 38, 1) 0%,
    rgba(33, 37, 49, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
